body {
  margin: 0;
  padding: 0;
  background-color: rgba(68,114,196, 0.85);
}
canvas { /* Mobile full screen */
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
  position: absolute;
}
@media (min-width: 1024px) { /* Desktop/Tablet screen, centered*/
  canvas {
    width: 60vw;
    height: 60vh; 
    top: 20vh;
    left: 20vw;
    position: absolute;
  }
}
.day {
background: linear-gradient(to bottom left, white 1%,#4388D3 70%,#2668C8 100%); 
}
.night {
background: linear-gradient(to bottom left, #2668C8 1%,#285679 100%); 
}